% rebase('base', title='Categories')
<h3>Categories</h3>
<div class="">
    <a href="/category/new" class="waves-effect waves-light btn">
        <i class="material-icons left">add</i> New category
    </a>
</div>
<p>{{ len(categories) }} categories:</p>

%if len(categories) > 0:
<ul class="collapsible">
    %for category in categories:
    <li>
        <div class="collapsible-header">
            {{ category['name'] }}<span class="new badge"  data-badge-caption="{{ 'posts' if category['posts'] != 1 else 'post' }}">{{ category['posts'] }}</span>
        </div>
        <div class="collapsible-body">
            <div class="row">
                <div class="col s12">
                    <label>Created by:</label>
                    <span>{{ category['created_by'] }}</span>
                </div>
                <div class="col s12">
                    <label>Created:</label>
                    <span>{{ category['date'] }}</span>
                </div>
                <div class="col s12">
                    <a href="/category/{{ category['id'] }}" class="waves-effect waves-light btn">See posts</a>
                </div>
            </div>
        </div>
    </li>
    %end
</ul>
%end

<script>
    var elem = document.querySelector('.collapsible');
    var instance = new M.Collapsible(elem);
</script>