% rebase('base', title='Access denied')

<div class="row">
    <div class="col s12">
        <div class="card red darken-1">
            <div class="card-content white-text">
                <span class="card-title">Access denied</span>
                <p>This is a restricted area, plase signin to continue.</p>
                <div class="collection">
                    <a href="/signup" class="collection-item">Signin</a>
                    <a href="/signup" class="collection-item">Signup</a>
                </div>
            </div>
        </div>
    </div>
</div>